In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('data/drug_consumtion.data')

In [7]:
df.head()

,id,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [8]:
# df.gender = df.gender.apply(lambda x: 0 if x < 0 else 1)  # 1 - female, 0 - male

In [9]:
drugs_cols = [
    'alcohol',
    'amphet',
    'amyl',
    'benzos',
    'caff',
    'cannabis',
    'choc',
    'coke',
    'crack',
    'ecstasy',
    'heroin',
    'ketamine',
    'legalh',
    'lsd',
    'meth',
    'mushrooms',
    'nicotine',
    'semer',
    'vsa'
]

In [10]:
drug_mapping = {}
for drug in drugs_cols:
#     df[drug] = df[drug].apply(lambda x: 0 if x in ('CL0', 'CL1') else 1)
    df[drug], mapping = pd.factorize(df[drug])
    drug_mapping[drug] = mapping

In [11]:
# categories_mapping = {}
# for col in ['age', 'country', 'education', 'ethnicity']:
#     df[col], mapping = pd.factorize(df[col])
#     categories_mapping[col] = mapping

In [12]:
df.head()

,id,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,0,0,0,0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,1,0,1,0,1,1,0,1,0,0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,2,0,0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,1,0,0,0,0,0,0,0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,2,0,0,1,0,0,2,0,0,0

In [13]:
drug_mapping

{'alcohol': Index(['CL5', 'CL6', 'CL4', 'CL2', 'CL1', 'CL0', 'CL3'], dtype='object'),
 'amphet': Index(['CL2', 'CL0', 'CL1', 'CL3', 'CL5', 'CL4', 'CL6'], dtype='object'),
 'amyl': Index(['CL0', 'CL2', 'CL1', 'CL3', 'CL5', 'CL4', 'CL6'], dtype='object'),
 'benzos': Index(['CL2', 'CL0', 'CL3', 'CL1', 'CL4', 'CL5', 'CL6'], dtype='object'),
 'caff': Index(['CL6', 'CL5', 'CL4', 'CL3', 'CL0', 'CL1', 'CL2'], dtype='object'),
 'cannabis': Index(['CL0', 'CL4', 'CL3', 'CL2', 'CL1', 'CL6', 'CL5'], dtype='object'),
 'choc': Index(['CL5', 'CL6', 'CL4', 'CL0', 'CL3', 'CL2', 'CL1'], dtype='object'),
 'coke': Index(['CL0', 'CL3', 'CL2', 'CL1', 'CL6', 'CL5', 'CL4'], dtype='object'),
 'crack': Index(['CL0', 'CL1', 'CL2', 'CL3', 'CL5', 'CL4', 'CL6'], dtype='object'),
 'ecstasy': Index(['CL0', 'CL4', 'CL1', 'CL3', 'CL2', 'CL6', 'CL5'], dtype='object'),
 'heroin': Index(['CL0', 'CL1', 'CL2', 'CL3', 'CL5', 'CL6', 'CL4'], dtype='object'),
 'ketamine': Index(['CL0', 'CL2', 'CL3', 'CL1', 'CL5', 'CL4', 'CL6'], dtype='object'),
 'legalh': Index(['CL0', 'CL1', 'CL2', 'CL3', 'CL5', 'CL4', 'CL6'], dtype='object'),
 'lsd': Index(['CL0', 'CL2', 'CL1', 'CL3', 'CL4', 'CL5', 'CL6'], dtype='object'),
 'meth': Index(['CL0', 'CL3', 'CL1', 'CL6', 'CL4', 'CL2', 'CL5'], dtype='object'),
 'mushrooms': Index(['CL0', 'CL1', 'CL2', 'CL3', 'CL4', 'CL5', 'CL6'], dtype='object'),
 'nicotine': Index(['CL2', 'CL4', 'CL0', 'CL6', 'CL1', 'CL3', 'CL5'], dtype='object'),
 'semer': Index(['CL0', 'CL2', 'CL3', 'CL4', 'CL1'], dtype='object'),
 'vsa': Index(['CL0', 'CL1', 'CL3', 'CL6', 'CL2', 'CL5', 'CL4'], dtype='object')}

In [14]:
drug_count = df[drugs_cols].sum().sort_values(ascending=False)

In [17]:
df.to_csv('data.csv', index=False)

In [18]:
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
y = df['cannabis']

In [20]:
for i in range(7):
    print("{}: {}".format(i, y[y==i].count()))

0: 413
1: 140
2: 211
3: 266
4: 207
5: 463
6: 185

In [21]:
x = df[['age', 'gender', 'education', 'country', 'ethnicity', 'nscore', 'escore', 'oscore', 'ascore', 'cscore', 'impulsive', 'ss']]
x.to_csv('data_cannabis.csv')

In [22]:
x = np.array(x)
y = np.array(y)

In [23]:
n_samples = x.shape[0]
n_train = int(n_samples * 0.7)
n_test = n_samples - n_train

In [24]:
perm = np.random.permutation(n_samples)
train_indx = perm[:n_train]
test_indx = perm[n_train:]

In [25]:
data_x_train, data_y_train = x[train_indx,:], y[train_indx]
data_x_test, data_y_test = x[test_indx,:], y[test_indx]
data_x_train = data_x_train.T
data_x_test = data_x_test.T

In [26]:
data_x_train.shape, data_x_test.shape

((12, 1319), (12, 566))

In [27]:
data_y_train.shape, data_y_test.shape

((1319,), (566,))