In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('drug_consumtion.data')

In [3]:
df.head()

,id,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [4]:
df.gender = df.gender.apply(lambda x: 0 if x < 0 else 1)  # 1 - female, 0 - male

In [5]:
drugs_cols = [
    'alcohol',
    'amphet',
    'amyl',
    'benzos',
    'caff',
    'cannabis',
    'choc',
    'coke',
    'crack',
    'ecstasy',
    'heroin',
    'ketamine',
    'legalh',
    'lsd',
    'meth',
    'mushrooms',
    'nicotine',
    'semer',
    'vsa'
]

In [6]:
for drug in drugs_cols:
    df[drug] = df[drug].apply(lambda x: 0 if x in ('CL0', 'CL1') else 1)

In [7]:
categories_mapping = {}
for col in ['age', 'country', 'education', 'ethnicity']:
    df[col], mapping = pd.factorize(df[col])
    categories_mapping[col] = mapping

In [8]:
df.head()

,id,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,1,0,1,0,0,0,0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,0,1,0,0
1,2,1,0,1,0,1,-0.67825,1.93886,1.43533,0.76096,...,1,0,1,0,1,1,0,1,0,0
2,3,0,0,0,0,1,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,0,0,0,0
3,4,2,1,2,0,1,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,1,0,0,0,0,1,0,0
4,5,0,1,1,0,1,0.73545,-1.63340,-0.45174,-0.30172,...,0,0,0,0,0,0,1,1,0,0

In [9]:
drug_count = df[drugs_cols].sum().sort_values(ascending=False)

In [10]:
drug_count

choc         1850
caff         1848
alcohol      1817
cannabis     1265
nicotine     1264
benzos        769
legalh        762
ecstasy       751
mushrooms     694
coke          687
amphet        679
lsd           557
meth          417
amyl          370
ketamine      350
vsa           230
heroin        212
crack         191
semer           6
dtype: int64

In [11]:
df.to_csv('data.csv', index=False)